.home-banner{
    background-image: url("../img/home_banner.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
}
.job-banner{
    background-image: url("../img/job-banner.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
}
.navbar-brand{
    color: #0047AB!important;
    font-weight: 600;
}
#footer{
    padding: 150px;
    background-color:#0047AB;
    color:white;
    text-align: center;
}
.spacer{
    height: 150px;
    width: 100%;
}

.company-card{
    background-color:#0047AB;
    padding: 100px 0 150px 0;
    width: 100%;
    color: white;
}

.job-card{
    padding: 50px;
    border: 1px solid gainsboro;
    margin: 30px;
}
.paginate{
    width: max-content;
    margin: auto;
}
.dashboard-menu{
    background-color:#0047AB;
    height: 100vh;
    width: 100%;
    padding: 50px;
}
.dashboard-menu ul>li>a{
    color: white!important;
    text-decoration: none;
}
.dashboard-menu ul>li{
    padding: 15px;
}
ul{
    list-style-type: none;
}

